<header class="header-index">
    <div class="logo-index">
        <h1><a href="/"><img src="/img/logotipo.png" alt="Antiria"></a></h1>
    </div>
    <input type="checkbox" id="nav-check-index" hidden>
    <nav class="nav-index">
        <ul class="lista-nav-index">
            <li>
                <form class="div-buscador" action="/search" method="GET">
                    <input type="text" id="search" name="search" placeholder="Buscar productos" class="input-buscador">
                    <label for="search"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></label>
                </form>
            </li>
            <li class="categorias-nav">
                <label class="link-nav-index" for="categorias">Categorías</label>
                <input type="checkbox" name="categorias" id="categorias">
                <ul class="categorias">
                    <li><a href="/search?search=joyeria">Joyería</a></li>
                    <li><a href="/search?search=Reliquia">Reliquias</a></li>
                    <li><a href="/search?search=Mueble">Muebles</a></li>
                    <li><a href="/search?search=Arte">Arte</a></li>
                    <li><a href="/search?search=Musica">Musica</a></li>
                </ul>
            </li>
            <% if (locals.isLogged) { %>
                <li class="categorias-nav3">
                    <label for="vender" class="link-nav-index">Vender</label>
                    <input type="checkbox" name="vender" id="vender">
                    <ul class="categorias3">
                        <li><a href="/listadoProducto/<%= locals.userLogged.id %>">Tus ventas</a></li>
                        <li><a href="/listadoProducto/<%= locals.userLogged.id %>/vender">Vender</a></li>
                    </ul>
                </li>
                <li class="profile-img">
                    <a href="/profile">
                        <div class="contImgProfile">
                            <img src="/img/user/<%= locals.userLogged.avatar %>" alt="<%= locals.userLogged.name %>">
                        </div>
                        <p>Hola, <%= locals.userLogged.name %></p>
                    </a>
                </li>
                <li>
                    <a href="/carrito/<%= locals.userLogged.id %>"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            <% } else { %>
                <li>
                    <a href="/login" class="link-nav-index">Ingresar</a>
                </li>
                <li>
                    <a href="/registro" class="link-nav-index">Registrarse</a>
                </li>
                <li>
                    <a href="" class="link-nav-index">Ayuda</a>
                </li>
            <% } %>
        </ul>
    </nav>
    <div class="contenedor-icon-mobile">
        <form class="lupa-mobile" action="/search" method="GET">
            <input type="text" id="search-mobile" name="search" placeholder="Buscar productos"/>
            <label for="search-mobile"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></label>
        </form>
        <label for="nav-check-index" class="menu-burger">
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </label>
    </div>
</header>