<%- include('partials/head', {tituloWeb: 'Antiria - Home' }) %>

    <body class="body_index">

        <!-- HEADER -->
        <%- include("./partials/header")%>
            <!-- FIN HEADER -->
            <main class="main-index">
                <div class="contenedor">
                    <div class="contenido">
                        <div class="primerSlide">
                            <div class="imagen">
                                <img src="\img\p1.jpg" alt="producto">
                            </div>
                            <div class="descripcion">
                                <h3>
                                    Novedades
                                </h3>
                                <p>
                                    Reliquia:
                                <blockquote>"Contemplando los huesos, o a veces todo el cuerpo, de
                                    alguien que dedicó su vida a Dios de modo tan especial que se convirtió en santo,
                                    nace el
                                    deseo de una vida similar"
                                </blockquote>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-ofertas">
                    <h5 class="categoriash2">Ofertas 😱</h5>
                </div>
                <section class="contenedor-4">

                    <% oferta.forEach ((row)=> { %>
                        <article class="tarjeta-2">
                            <div class="contenedor-img">
                                <img src="/img/<%= row.image %>" alt="">
                            </div>
                            <div class="detalle-tarjeta">
                                <h3 class="nombre">
                                    <%= row.nombreProd.slice(0, 42); %>
                                </h3>
                                <h4 class="precio">
                                    $ <%= row.precio %>
                                </h4>
                                <p><%= row.descGeneral.slice(0, 80); %> ...</p>
                                <div>
                                    <a href="/productDetail/<%= row.id %>">VER MÁS</a>
                                </div>
                            </div>
                        </article>
                        <% }) %>



                </section>
                <h2 class="categoriash2">Marcas emblemáticas</h2>
                <section class="usuarios-vendedores">
                    <a href="/search?search=Sony">
                        <div class="coin-usuario">
                            <div class="coin-front">
                                <img src="/img/1.png" alt="">
                            </div>
                            <div class="coin-back">
                                <img src="/img/isotipo2.png" alt="">

                            </div>
                        </div>
                    </a>
                    <a href="/search?search=Rolex">
                        <div class="coin-usuario">
                            <div class="coin-front">
                                <img src="/img/2.png" alt="">
                            </div>
                            <div class="coin-back">
                                <img src="/img/isotipo2.png" alt="">

                            </div>
                        </div>
                    </a>
                    <a href="/search?search=Louis Vuitton">
                        <div class="coin-usuario">
                            <div class="coin-front">
                                <img src="/img/3.png" alt="">
                            </div>
                            <div class="coin-back">
                                <img src="/img/isotipo2.png" alt="">

                            </div>
                        </div>
                    </a>
                    <a href="/search?search=Nintendo">
                        <div class="coin-usuario">
                            <div class="coin-front">
                                <img src="/img/4.png" alt="">
                            </div>
                            <div class="coin-back">
                                <img src="/img/isotipo2.png" alt="">

                            </div>
                        </div>
                    </a>
                    <a href="/search?search=Mercedes Benz">
                        <div class="coin-usuario">
                            <div class="coin-front">
                                <img src="/img/mercedes.png" alt="">
                            </div>
                            <div class="coin-back">
                                <img src="/img/isotipo2.png" alt="">

                            </div>
                        </div>
                    </a>




                </section>

            </main>
            <h2 class="categoriash2">Categorías</h2>
            <section class="categorias-index">
                <a href="/search?search=Joya">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>JOYERÍA</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p4.jpg" alt="categoria">
                            </div>
                        </div>


                    </div>
                </a>
                <a href="/search?search=Reliquia">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>RELIQUIAS</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p3.jpg" alt="categoria">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/search?search=mueble">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>MUEBLES</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p2.jpg" alt="categoria">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/search?search=Arte">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>ARTE</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p11.jpg" alt="categoria">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/search?search=musica">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>MÚSICA</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p10.jpg" alt="categoria">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/search?search=reloj">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>RELOJES</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p14.jpg" alt="categoria">
                            </div>
                        </div>
                    </div>
                </a>
            </section>

            <h2 class="contacus-h2">¿Buscas asesoramiento?</h2>
            <h3 class="contacus-h3">Contactanos...</h3>
            <section class="wave-section">

                <div class="vawe-form">
                    <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 300" version="1.1"
                        xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                                <stop stop-color="rgba(26, 26, 26, 1)" offset="0%"></stop>
                                <stop stop-color="rgba(26, 26, 26, 1)" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                            d="M0,49L1440,245L2880,441L4320,147L5760,245L7200,0L8640,49L10080,196L11520,0L12960,98L14400,245L15840,49L17280,98L18720,196L20160,0L21600,245L23040,343L24480,0L25920,98L27360,245L28800,147L30240,0L31680,245L33120,441L34560,49L34560,490L33120,490L31680,490L30240,490L28800,490L27360,490L25920,490L24480,490L23040,490L21600,490L20160,490L18720,490L17280,490L15840,490L14400,490L12960,490L11520,490L10080,490L8640,490L7200,490L5760,490L4320,490L2880,490L1440,490L0,490Z">
                        </path>
                        <defs>
                            <linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0">
                                <stop stop-color="rgba(26, 26, 26, 1)" offset="0%"></stop>
                                <stop stop-color="rgba(26, 26, 26, 1)" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)"
                            d="M0,49L1440,49L2880,0L4320,392L5760,147L7200,147L8640,49L10080,196L11520,0L12960,196L14400,98L15840,0L17280,294L18720,441L20160,343L21600,294L23040,343L24480,49L25920,147L27360,49L28800,392L30240,0L31680,98L33120,0L34560,98L34560,490L33120,490L31680,490L30240,490L28800,490L27360,490L25920,490L24480,490L23040,490L21600,490L20160,490L18720,490L17280,490L15840,490L14400,490L12960,490L11520,490L10080,490L8640,490L7200,490L5760,490L4320,490L2880,490L1440,490L0,490Z">
                        </path>
                    </svg>

                </div>

            </section>
            
            <div class="content">

                <div class="contact-wrapper">
                    <div class="contact-form">
                        <h3>Completa los campos y un asesor se encargara de contactarte</h3>
                        <form action="/" method="POST">
                            <p>
                                <label for="">Nombre Completo</label>
                                <input type="text" name="nombreCompleto" id="">
                            </p>
                            <p>
                                <label for="email">Correo Electronico</label>
                                <input type="email" name="email" id="">
                            </p>
                            <p>
                                <label for="">Telefono</label>
                                <input type="tel" name="tel">
                            </p>
                            <p>
                                <label for="">Asunto</label>
                                <input type="text" name="asunto">
                            </p>
                            <p class="block">
                                <label for="">mensaje</label>
                                <textarea name="textarea" id="" rows="4"></textarea>
                            </p>

                            <p class="block">
                                <button type="submit">
                                    ENVIAR
                                </button>
                            </p>
                        </form>
                    </div>




                    <div class="contact-info">

                    </div>
                </div>


            
            </div>

            <!-- FOOTER -->
            <%- include("./partials/footer")%>
                <!-- FIN FOOTER -->

    </body>

    </html>