<%- include('partials/head', {tituloWeb: 'Antiria - Home' }) %>

    <body class="body_index">

        <!-- HEADER -->
        <%- include("./partials/header")%>
            <!-- FIN HEADER -->
            <main class="main-index">
                <div class="contenedor">
                    <div class="contenido">
                        <div class="primerSlide">
                            <div class="imagen">
                                <img src="\img\p1.jpg" alt="producto">
                            </div>
                            <div class="descripcion">
                                <h3>
                                    Novedades
                                </h3>
                                <p>
                                    Reliquia:
                                <blockquote>"Contemplando los huesos, o a veces todo el cuerpo, de
                                    alguien que dedicó su vida a Dios de modo tan especial que se convirtió en santo,
                                    nace el
                                    deseo de una vida similar"
                                </blockquote>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-ofertas">
                    <h5 class="categoriash2">Ofertas 😱</h5>
                </div>
                <section class="contenedor-4">

                    <% oferta.forEach ((row)=> { %>
                        <article class="tarjeta-2">
                            <div class="contenedor-img">
                                <img src="/img/products/<%= row.productoOferta.imagen_prod %>" alt="">
                            </div>
                            <div class="detalle-tarjeta">
                                <h3 class="nombre">
                                    <%= row.productoOferta.nombre.slice(0, 42); %>
                                </h3>
                                <h4 class="precio">
                                    $ <%= row.productoOferta.precio.toLocaleString('es-ES'); %>
                                </h4>
                                <p><%= row.productoOferta.descripcion.slice(0, 80); %> ...</p>
                                <div>
                                    <a href="/productDetail/<%= row.productoOferta.id %>">VER MÁS</a>
                                </div>
                            </div>
                        </article>
                    <% }) %>



                </section>
                <h2 class="categoriash2">Marcas emblemáticas</h2>
                <section class="usuarios-vendedores">
                    <a href="/search?search=Sony">
                        <div class="coin-usuario">
                            <div class="coin-front">
                                <img src="/img/1.png" alt="">
                            </div>
                            <div class="coin-back">
                                <img src="/img/isotipo2.png" alt="">

                            </div>
                        </div>
                    </a>
                    <a href="/search?search=Rolex">
                        <div class="coin-usuario">
                            <div class="coin-front">
                                <img src="/img/2.png" alt="">
                            </div>
                            <div class="coin-back">
                                <img src="/img/isotipo2.png" alt="">

                            </div>
                        </div>
                    </a>
                    <a href="/search?search=Louis Vuitton">
                        <div class="coin-usuario">
                            <div class="coin-front">
                                <img src="/img/3.png" alt="">
                            </div>
                            <div class="coin-back">
                                <img src="/img/isotipo2.png" alt="">

                            </div>
                        </div>
                    </a>
                    <a href="/search?search=Nintendo">
                        <div class="coin-usuario">
                            <div class="coin-front">
                                <img src="/img/4.png" alt="">
                            </div>
                            <div class="coin-back">
                                <img src="/img/isotipo2.png" alt="">

                            </div>
                        </div>
                    </a>
                    <a href="/search?search=Mercedes Benz">
                        <div class="coin-usuario">
                            <div class="coin-front">
                                <img src="/img/mercedes.png" alt="">
                            </div>
                            <div class="coin-back">
                                <img src="/img/isotipo2.png" alt="">

                            </div>
                        </div>
                    </a>




                </section>

            </main>
            <h2 class="categoriash2">Categorías</h2>
            <section class="categorias-index">
                <a href="/search?search=joyeria">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>JOYERÍA</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p4.jpg" alt="categoria">
                            </div>
                        </div>


                    </div>
                </a>
                <a href="/search?search=Reliquia">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>RELIQUIAS</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p3.jpg" alt="categoria">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/search?search=mueble">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>MUEBLES</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p2.jpg" alt="categoria">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/search?search=Arte">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>ARTE</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p11.jpg" alt="categoria">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/search?search=musica">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>MÚSICA</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p10.jpg" alt="categoria">
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/search?search=reloj">
                    <div class="mini-cat">
                        <div class="mini-cat-nombre">
                            <h3>RELOJES</h3>

                        </div>


                        <div class="mini-cat-img">
                            <div class="img-categorias">
                                <img src="/img/p14.jpg" alt="categoria">
                            </div>
                        </div>
                    </div>
                </a>
            </section>

            <div class="content">

                <div class="contact-wrapper">
                    <div class="contact-form">
                        <h3>Buscas asesoramiento: </h3>
                        <form action="/" method="POST">
                            <p>
                                <label for="">Nombre Completo</label>
                                <input type="text" name="nombreCompleto" id="">
                            </p>
                            <p>
                                <label for="email">Correo Electronico</label>
                                <input type="email" name="email" id="">
                            </p>
                            <p>
                                <label for="">Telefono</label>
                                <input type="tel" name="tel">
                            </p>
                            <p>
                                <label for="">Asunto</label>
                                <input type="text" name="asunto">
                            </p>
                            <p class="block">
                                <label for="">mensaje</label>
                                <textarea name="textarea" id="" rows="4"></textarea>
                            </p>

                            <p class="block">
                                <button type="submit">
                                    ENVIAR
                                </button>
                            </p>
                        </form>
                    </div>




                    <div class="contact-info">

                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <%- include("./partials/footer")%>
                <!-- FIN FOOTER -->

    </body>

    </html>