<%- include('../partials/head', {tituloWeb: 'Antiria - Home'}) %>

<body class="body_index">

    <!-- HEADER -->
    <%- include("../partials/header")%>
    <!-- FIN HEADER -->

    <main class="main-search">
        <% if (search.length === 0) { %>
            <h4 class="notfound-search">No se encontraron resultados 🥲</h4>
        <% } else { %>
            <% search.forEach ((row)=> { %>
                <article>
                    <div class="imagen-detalle-prod">
                        <img src="/img/<%= row.image %>" alt="">
                    </div>
                    <div class="descripcion_search_prod">
                        <h3><%= row.nombreProd %></h3>
                        <h4 class="green">$<%= row.precio %></h4>
                        <h5>Envio: <span class="green">$ 1.500</span></h5>
                        <a href="">Ver</a>
                    </div>
                </article>
                <hr>
            <% }) %>
        <% } %>
    </main>

    <!-- FOOTER -->
    <%- include("../partials/footer")%>
    <!-- FIN FOOTER -->

</body>

</html>