<%- include('../partials/head', {tituloWeb: 'Antiria - Detalle Producto' }) %>

    <body>

        <!-- HEADER -->
        <%- include("../partials/header")%>
            <!-- FIN HEADER -->

            <main class="contenedorDetalleProd">
                <article class="contenedorMaestroCarousel">
                    <div class="container-carousel">
                        <div class="carousel">
                            <input type="radio" name="slides" checked="checked" id="slide-1">
                            <input type="radio" name="slides" id="slide-2">
                            <input type="radio" name="slides" id="slide-3">
                            <input type="radio" name="slides" id="slide-4">
                            <input type="radio" name="slides" id="slide-5">
                            <input type="radio" name="slides" id="slide-6">
                            <ul class="carousel__slides">
                                <% imagenes.forEach(row => { %>
                                <li class="carousel__slide">
                                    <figure>
                                        <div>
                                            <img src="/img/products/<%= row.imagen_prod %>" alt="">
                                        </div>
                                    </figure>
                                </li>
                                <% }) %>
                            </ul>
                            <ul class="carousel__thumbnails">
                                <% for( let i = 0; i < imagenes.length; i++ ) { %>
                                    <li>
                                        <label for="slide-<%= i + 1 %>"><img src="/img/products/<%= imagenes[i].imagen_prod %>"
                                                alt=""></label>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <div class="nombre-precio">
                        <h3>
                            <%= prodUD.nombre %>
                        </h3>
                        <h4>
                            $<%= prodUD.precio.toLocaleString('es-ES'); %>
                        </h4>
                        <form action="">
                            <button class="submitCart" type="submit">Agregar al carrito</button>
                        </form>
                    </div>
                </article>
                <div class="descripcion-prod">
                    <h4>Descripción del producto</h4>
                    <hr />
                    <h4>
                        <%= prodUD.nombre %>
                    </h4>
                    <h5>
                        <%= prodUD.descripcion %>
                    </h5>

                </div>
            </main>

            <!-- FOOTER -->
            <%- include("../partials/footer")%>
                <!-- FIN FOOTER -->

    </body>

    </html>