<%- include('../partials/head', {tituloWeb: 'Antiria - Edicion' }) %>

    <body>

        <!-- HEADER -->
        <%- include("../partials/header")%>
            <!-- FIN HEADER -->


            <main class="vender-main">
                <section class="vender-box">
                    <form action="/listadoProducto/<%= locals.userLogged.id %>/edicionProducto/<%= productsUser.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <h2 class="title , opciones , title-vender">Edita tu producto</h2>
                        <h2 class="marron">"<%= productsUser.nombre %>"</h2>
                        <div class="input-box , opciones ">
                            <input name="nombreProducto" type="text" value="<%= productsUser.nombre %>" required>
                            <label>Nombre del producto</label>
                        </div>
                        <div class="input-box , opciones ">
                            <input name="precioProducto" type="number" value="<%= productsUser.precio %>" required>
                            <label class="nombre_precio">Precio del producto</label>
                        </div>
                        <div class="categoria-vender ">
                            <p class=" opciones">Categoría del producto</p>
                            <article class="botonera , opciones">
                                <select name="categoriaProducto" class="opciones-botonera" required>
                                    <option selected disabled class="opcion">Categorias</option>
                                    <option value="<%= categoria.nombre %>" class="opcion" selected><%= categoria.nombre %></option>
                                    <option value="Joyeria" class="opcion">Joyeria</option>
                                    <option value="Reliquia" class="opcion">Reliquia</option>
                                    <option value="Mueble" class="opcion">Mueble</option>
                                    <option value="Arte" class="opcion">Arte</option>
                                    <option value="Musica" class="opcion">Musica</option>
                                    <option value="Reloj" class="opcion">Reloj</option>
                                    <option value="Otro" class="opcion">Otro</option>
                                </select>
                            </article>
                        </div>

                        <div class="categoria-vender ">
                            <p class=" opciones">Marca del producto</p>
                            <article class="botonera , opciones">
                                <select name="marca" class="opciones-botonera" required>
                                    <option selected disabled class="opcion">Marcas</option>
                                    <option value="<%= marca.nombre %>" class="opcion" selected><%= marca.nombre %></option>
                                    <option value="Sony" class="opcion">Sony</option>
                                    <option value="Rolex" class="opcion">Rolex</option>
                                    <option value="Louis Vuitton" class="opcion">Louis Vuitton</option>
                                    <option value="Nintendo" class="opcion">Nintendo</option>
                                    <option value="Mercedes Benz" class="opcion">Mercedes Benz</option>
                                    <option value="Otro" class="opcion">Otro</option>
                                </select>
                            </article>
                        </div>
                        <div class="opciones">
                            <label>Descripción del producto</label>


                        </div>
                        <input type="text" name="descripcionGeneral" class="myTextarea , opciones" value="<%= productsUser.descripcion %>">
                        <div>
                            <label class="opciones">Subir imagen del producto</label>
                            <% if (imagenes.length < 6) { %>
                                <div class="edicionImagenes">
                                    <% for( let i = 0; i < imagenes.length; i++ ) { %>
                                        <form method="POST" action="/listadoProducto/<%= locals.userLogged.id %>/edicionProducto/<%= imagenes[i].id_prod %>/<%= imagenes[i].id %>?_method=DELETE">
                                            <button>
                                                <img src="/img/products/<%= imagenes[i].imagen_prod %>" alt="">
                                                <i class="fas fa-trash delete-icon"></i>
                                              </button>
                                        </form>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                        <div  class="subir-imagen , opciones">
                            <input name="imagenProducto" type="file" multiple>
                        </div>
                        <div class="opciones" required>
                            <p>¿Se encuentra en oferta?</p>
                            <input type="radio" name="oferta" value=True required>
                            <label for="">Si</label><br>

                            <input type="radio" name="oferta" value=False required>
                            <label for="">No</label><br>

                        </div>


                        <div class="realizarlacompra">
                            <button class="realizar-compra , Cancelar  , opciones" type="reset">Cancelar</button>
                            <button class="realizar-compra , publicar ,   opciones" type="submit">Guardar cambios</button>
                        </div>
                    </form>
                </section>
            </main>




            <!-- FOOTER -->
            <%- include("../partials/footer")%>
                <!-- FIN FOOTER -->

    </body>

    </html>