<%- include('../partials/head', {tituloWeb: 'Antiria - Listado' }) %>

    <body>
        <!-- HEADER -->
        <%- include("../partials/header.ejs")%>
            <!-- FIN HEADER -->
            <main class="carrito-main">
                </div>
                <ul class="carrito-seguimiento">
                    <li>
                        <div class="carrito">
                            <a>Tus publicaciones</a>
                        </div>
                    </li>

                </ul>
                <section class="main-search2">
                    <% if (row.length===0) { %>
                        <h4 class="notfound-search">No tiene publicaciones hechas 😔</h4>
                    <% } else { %>
                        <% row.forEach ((row)=> { %>
                            <article>
                                <div class="imagen-detalle-prod">
                                    <img src="/img/<%= row.image %>" alt="">
                                </div>
                                <div class="descripcion_search_prod2">
                                    <h3><%= row.nombreProd %></h3>
                                    <h4 class="green">$<%= row.precio %></h4>
                                    <div class="eliminar-edit">
                                        <a class="eliminar" id="product-delete" href="/" onclick="return confirm('¿Realmente desea eliminar este producto?')"><i class="fa-sharp fa-solid fa-trash"></i></a>
                                        <a id="product-edit" href="/listadoProducto/1/edicionProducto/<%= row.id %>"> <i class="fa-solid fa-pen-to-square "></i></a>
                                    </div>
                                </div>
                            </article>
                            <hr>
                        <% }) %>
                    <% } %>
                    <div class="realizar-compra3">
                        <a href="/listadoProducto/1/vender" class="realizar-compra2 ">Vender tu producto</a>
                    </div>

                </section>
            </main>


            <!-- FOOTER -->
            <%- include("../partials/footer.ejs")%>
                <!-- FIN FOOTER -->
    </body>

    </html>