<%- include('../partials/head', {tituloWeb: 'Antiria - Carrito' }) %>

    <body>
        <!-- HEADER -->
        <%- include("../partials/header.ejs")%>
            <!-- FIN HEADER -->
            <main class="carrito-main">
                </div>
                <ul class="carrito-seguimiento">
                    <li>
                        <div class="carrito">
                            <i><a>tus publicaciones</a></i>
                        </div>
                    </li>

                </ul>
                <section class="cuerpo_pagina">
                    <% if (row.length===0){ %>
                        <p>No tiene publicaciones hechas</p>

                        <% } else{ %>

                            <% row.forEach((row)=> { %>

                                <div class="product">
                                    <a href="/productDetail/<%= row.id %>"><img class="imagen-producto" src="/img/<%= row.image %>"
                                            alt="Producto 1"></a>
                                    <div class="product-total">
                                        <p class="product-name"><%= row.nombreProd %></p>
                                        <p class="product-price">
                                            $<%= row.precio %>
                                        </p>
                                        <p class="descripcion-carrito , descripcion-ventas"><%= row.descGeneral %></p>
                                            <a class="eliminar" id="product-delete" href="/" onclick="return confirm('¿Realmente desea eliminar este producto?')"><i class="fa-sharp fa-solid fa-trash"></i></a>
                                            <a id="product-edit" href="/edicionProducto"> <i class="fa-solid fa-pen-to-square "></i></a>
                                    </div>
                                </div>

                                <% }); %>

                                    <% } %>

                                        <a href="/vender" class="total , realizar-compra ">Vender tu producto</a>

                </section>
            </main>


            <!-- FOOTER -->
            <%- include("../partials/footer.ejs")%>
                <!-- FIN FOOTER -->
    </body>

    </html>